<header>
    <nav>
        <a href="/" class="navlink">ADMIN PANEL</a>

        <ul class="nav_list">
            <li class="nav__list-item"><a href="#">Mahsulotlar Statistikasi</a></li>
            <li class="nav__list-item"><a href="/products-controll">Mahsulotlar bo'limi</a></li>
            <li class="nav__list-item"><a href="/discount-controll">Aksiyalar bo'limi</a></li>
            <li class="nav__list-item"><a href="/user-controll">Xaridorlar</a></li>
            <li class="nav__list-item"><a href="/cashback-controll">Cashback cardlar bo'limi</a></li>
        </ul>
    </nav>
</header>