<section class="product-sections">
    <h1>O'zingizga kerak bo'limni tanlang: </h1>
    <div class="sections-box">
        <div><a href="/products-controll/categories">Kategoriyalar</a></div>
        <div><a href="/products-controll/sub-categories">Sub Kategoriyalar</a></div>
        <div><a href="/products-controll/products">Mahsulotlar</a></div>
    </div>
</section>