<section>
    <h1>Yangi qo'shish</h1>
    {{#if error_msg}}<p class="error">{{error_msg}}</p>{{/if}}
    <form action="/products-controll/categories/add" method="post">
        <input name="name" type="text" placeholder="Kategoriya uchun yangi nom kiriting">
        <button type="submit">Qo'shish</button>
    </form>
</section>