<section>
    <h1>Tahrirlash</h1>
    <form action="/products-controll/categories/edit/{{category._id}}" method="post">
        <input name="name" type="text" value="{{category.name}}" placeholder="Kategoriya uchun yangi nom kiriting">
        <button type="submit">Tahrirlash</button>
    </form>
</section>